/******* Global ************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/********** Banner ***********/
body {
  background-color: #ececec;
}
.banner {
  width: 100vw;
  height: 700px;
  color: #767676;
}

.hamburger {
  float: right;
  margin: 2rem;
  font-size: 2rem;
  color: #bcbcbc;
}

.content {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
}

.person-img {
  position: absolute;
  width: 300px;
  height: 400px;
  right: 18%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 10%;
}

.shadow {
  position: absolute;
  width: 300px;
  height: 400px;
  top: 40%;
  right: 15%;
  transform: translateY(-40%);
  border-radius: 10%;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12),
    inset -10px -10px 15px rgb(255, 255, 255, 0.5),
    inset 10px 10px 15px rgb(70, 70, 70, 0.12);
}

h1 {
  font-size: 5rem;
}

.effect-wrap .effect {
  position: absolute;
}

.effect-1 {
  width: 40px;
  height: 40px;
  border: 4px solid #8a49ff;
  right: 10%;
  bottom: 15%;
  animation: spin 10s linear infinite;
}

.effect-2 {
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topbounce 3s ease-in-out infinite;
}

.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: #ff9c07;
  margin: 0 3px 8px;
}

.effect-3 {
  height: 180px;
  width: 180px;
  border: 25px solid pink;
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: leftbounce 3s ease-in-out infinite;
}

.effect-4 {
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  left: 30%;
  top: 20%;
  animation: spin 10s linear infinite;
}
.effect-4::before {
  content: "";
  border-top: 30px solid transparent;
  border-left: 30px solid #06d79c;
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-5 {
  height: 50px;
  width: 50px;
  right: 10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 10s linear infinite;
}
.effect-5 div {
  width: 4px;
  background-color: #4dd0e1;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes topbounce {
  0%,
  100% {
    transform: translateY(0deg);
  }
  50% {
    transform: translateY(25px);
  }
}
@keyframes leftbounce {
  0%,
  100% {
    transform: translateX(0deg);
  }
  50% {
    transform: translateX(25px);
  }
}

@media screen and (max-width: 968px) {
  h1 {
    font-size: 3rem;
  }
  .person-img,
  .shadow {
    width: 160px;
    height: 260px;
    top: 35%;
    right: 15%;
  }
  .shadow {
    top: 28%;
    right: 11%;
  }
  .banner {
    height: 500px;
  }
  .content {
    top: 35%;
  }
  .effect-1,
  .effect-2 {
    bottom: 40%;
  }
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2rem;
  }
  .person-img,
  .shadow {
    width: 120px;
    height: 180px;
    top: 25%;
    right: 10%;
  }
  .shadow {
    top: 20%;
    right: 7%;
  }
  .banner {
    height: 350px;
  }
  .content {
    top: 25%;
  }
  .effect-1,
  .effect-2 {
    bottom: 60%;
  }
  .effect-5 {
    display: none;
  }
  .effect-4 {
    top: 15%;
  }
}

.links-container {
  position: absolute;
  width: 500px;
  margin: 10px;
  right: 5%;
  border-radius: 5%;
  top: 10%;
  list-style: none;
  background-color: #ffff;
  z-index: 1;
}

.links {
  height: 60px;
  padding: 0.8rem;
  margin: 1rem;
  font-size: 1.2rem;
  margin-left: 20px;
  transition: all 0.5s linear;
}

.links:hover {
  background-color: rgb(223, 244, 248);
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

/************About***********/

section {
  margin: 2rem;
  position: relative;
}

section h2 {
  text-align: center;
  font-size: 2rem;
  letter-spacing: 2px;
  color: #767676;
}

h2 span {
  color: #8a49ff;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12),
    inset -10px -10px 15px rgb(255, 255, 255, 0.5),
    inset 10px 10px 15px rgb(70, 70, 70, 0.12);
  margin: 30px;
}
#about,
.btn-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  gap: 10px;
}

.img {
  width: 85%;
  height: 85%;
}

.about-img,
.about-me {
  width: 50%;
  letter-spacing: 1px;
  line-height: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
}

.about-me {
  padding: 10%;
}
.btn-container button,
.btn {
  padding: 0.5rem;
  background-color: #ececec;
  border: 8px solid #ececec;
  border-radius: 20px;
  font-size: 0.9rem;
  color: #767676;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12);
}

.btn-container button:hover,
.btn:hover {
  color: red;
}
.about-detail {
  justify-content: center;
}
.about-detail button {
  font-weight: bold;
}
.bar {
  width: 500px;
  height: 10px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12),
    inset -10px -10px 15px rgb(255, 255, 255, 0.5),
    inset 10px 10px 15px rgb(70, 70, 70, 0.12);
  border-radius: 10px;
  background-color: #ececec;
  display: flex;
  align-items: center;
  margin: 0 30px 40px 0;
}
.percentage {
  width: 75%;
  height: 6px;
  background-color: #8a49ff;
  border-radius: 10px;
}
p {
  margin: 10px;
}
p span {
  margin-left: 300px;
}
.skills {
  display: flex;
  justify-content: space-around;
  gap: 40px;
}

/***********Contact***********/

.contact-detail {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}
.contact-detail div {
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-detail div,
.contact-me input {
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12);
  border-radius: 10px;
  background-color: #ececec;
  font-size: 17px;
}
input {
  border: none;
  padding: 15px;
}
.contact-me {
  display: grid;
  grid-template-areas: "a d" "b d" "c d";
  gap: 50px;
}
.name {
  grid-area: a;
}
.subject {
  grid-area: b;
}
.email {
  grid-area: c;
}
.message {
  grid-area: d;
  text-align: start;
}
.btn {
  width: 100px;
  margin: 20px;
  float: right;
}

/***************Projects*****************/

.projects .btn-container {
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  margin: 20px 100px;
  gap: 50px;
  justify-content: center;
}
.card {
  width: 250px;
  height: 300px;
  box-shadow: -10px -10px 15px rgb(255, 255, 255, 0.5),
    10px 10px 15px rgb(70, 70, 70, 0.12);
  border-radius: 10px;
}
.project-img {
  width: 100%;
  height: 80%;
}
.card h3 {
  margin-top: 10%;
  text-align: center;
}
